@import "tailwindcss";

:root {
  --font-geist-sans: 'Geist', sans-serif;
  --font-geist-mono: 'Geist Mono', monospace;
  --font-lato: 'Lato', sans-serif;
  --font-roboto: 'Roboto', sans-serif;
}

* {
  font-family: var(--font-geist-sans);
}

body {
  height: 100vh;
  padding-top: 20px;
  padding-bottom: 20px;
}

body,
main {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

main{
  overflow: visible;
  height: 80vh;
}

h1 {
  margin: 0;

}

section {
  overflow-x: hidden;
}

.shadow{
  box-shadow: 10px 10px 10px 10px #0000001a;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  object-fit: contain;
}

.p-dataview-content {
  background-color: transparent;
  gap: 20px;
  display: flex;
  flex-direction: column;
}

h5{
  margin: 0;
  padding: 0;
}

.label-show{
  display: flex;
  flex-direction: column;
  
}

.label-show .label{
  width: 200px;
  text-align: left;
}

legend{
  margin-left: 20px;
}

.label-show-container{
  display: grid;
  gap: 30px 30px;
  grid-template-columns: repeat(auto-fit, minmax(250px, 40%));
  justify-content: center;
  margin-top: 20px;
  margin-left: 20px;
}

.value{
  font-size: 11pt;
  width: 60%;
  text-align: left;
}

.p-galleria-item img{
  width: 50% !important;
  object-fit: contain;
  aspect-ratio: 2/1;
}

.view-elementos-ingreso-container{
  display: grid;
  grid-template-columns: 70% 20%;
  justify-content: center;
  margin-top: 20px;
  align-items: center;
}

.elementos-ingreso-container{
  display: grid;
  gap: 15px 5px;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  justify-content: center;
  margin-top: 20px;
}

.nob-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media (max-width: 768px) {
  .view-elementos-ingreso-container{
    grid-template-columns: 345px;
  }

  .elementos-ingreso-container{
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
  }

  .nob-container{
    margin-top: 30px;
  }
}

.p-chip {
  color: black;
  box-shadow: 10px 10px 10px 10px #0000001a;
}

.hiddeInput  {
  background: transparent;
  border: none;
}

.hiddeInput:focus {
  outline: none;
  border: none;
}

.hiddeInput .p-dropdown-label {
  display: none;
}

.hiddeInput .p-hidden-accessible {
  display: none;
}

.text-area-show{
  display: flex;
  flex-direction: column;
}

.text-area-show .value{
  width: 130%;
}

.text-area-show-container{
  display: grid;
  gap: 30px 5px;
  grid-template-columns: repeat(auto-fit, minmax(250px, 40%));
  justify-content: center;
}

.filter-container{
  display: grid;
  grid-template-areas: "filter attribute value button restart";
  gap: 20px;
  margin-bottom: 20px;
  text-align: left;
}

.filter-container .filter{
  grid-area: filter;
}

.filter-container .attribute{
  grid-area: attribute;
}

.search{
  grid-area: button;
  display: flex;
  align-items: end;
  justify-content: center;
  padding: 2px;
  margin-top: 21px;
}

.value{
  grid-area: value;
  width: 100%;
}

.value h2{
  margin-bottom: 2px;
}

.restart{
  grid-area: restart;
  display: flex;
  align-items: end;
  justify-content: center;
  padding: 2px;
  margin-top: 21px;
}
