.container {
    display: grid;
    grid-template-columns: 9fr 3fr;
    gap: 1rem;
    padding: 1rem;
    box-sizing: border-box;
}

.section {
    padding: 1rem;
    box-shadow: 0 0 1rem rgba(88, 88, 88, 0.1);
}

.aside {
    padding: 1rem;
    box-shadow: 0 0 1rem rgba(88, 88, 88, 0.1);
}

.calendar {
    height: auto;
    width: auto;
}

@media (max-width: 768px) {
    .container {
        grid-template-columns: 1fr;
    }
}